[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask = "==1.1.2"
flask-migrate = "==2.7.0"
flask-restx = "*"

[dev-packages]
pylint = "*"
nose = "*"

[requires]
python_version = "3.9"
